*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  --webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
}

body{
  padding: 20px;
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  background-color:black;
}

h1{
  font-size:38px;
  color: white;
  text-transform:capitalize;
}